@using Application.DTOs
@model List<ListOfUserDTO>;
@{
    Layout = "_AdminLayout";

}
<!DOCTYPE html>
<html lang="en">


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>

    .img {
        width: 50px;
        height: 50px;
    }

    .TableContainer {
        margin: 5%;
    }
</style>

<div class="TableContainer">
    <table id="example" class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>Password</th>
                <th>CreateDate</th>
                <th>Avatar</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Id </td>
                    <td>@item.UserName </td>
                    <td>@item.Password</td>
                    <td>@item.CreateDate</td>

                    @if (@item.UserAvatar != null)
                    {
                        <td><img class="img" src="~/Images/@item.UserAvatar"></img> </td>
                    }

                    @if (@item.UserAvatar == null)
                    {
                        <td><img class="img" src="~/Images/profilephoto.png"></img> </td>
                    }


                    <td>
                        <button>
                            <a asp-area="AdminPanel"
                           asp-controller="Admin"
                           asp-action="EditUser"
                           asp-route-UserId="@item.Id">Edit</a>
                        </button>

                        <br></br>

                        <button>
                            <a>Remove</a>
                        </button>

                    </td>
                </tr>
            }

            <!-- اطلاعات بیشتر را اضافه کنید -->
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#example').DataTable();
    });
</script>

</html>
